<PageTitle>Animace základ</PageTitle>
<div class="container">
    <div id="znovu" onclick="location.reload()"></div>
    <div class="postava" style="@Postava.Style">
        <p class="postavaPopis">@Postava.Popisek</p>
        <img src="@Postava.Obrazek" />
    </div>
</div>
@code {

}
